*{
	margin:0;
	padding: 0;
	list-style:none;
}
html,body{
	width:100%;
	height:100%;
	background: #F6F6F8;
}
.box{
	width:100%;
	height:100%;
	background: #F6F6F8;
}
.header{
	width:100%;
	font-size:13px;
	padding-top:20px;
	background: #fff;
}
.headerFixed{
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	box-shadow: 0 3px 6px rgba(6,0,1,.05);
}
a{
	text-decoration:none;
	color:#000;
}
.city_select{
	width:1000px;
	margin:0 auto;
}
.city_select .search{
	width:766px;
	height:44px;
	border:1px solid #00d7c6;
	position:relative;
}
.city_select .search .selectedCity{
	width:96px;
	height:100%;
	float:left;
	position:relative;
}
.city_select .search .selectedCity #span{
	color:#414a40;
	line-height:44px;
	width:60px;
	text-align:center;
	float:left;
}
.city_select .search img{
	width:10px;
	height:10px;
	float:left;
	margin-top:18px;
}
.city_select .search input{
	float:left;
	border:none;
	margin-top:10px;
	width:353px;
	height:25px;
	margin-left:10px;
	outline: 0;
}
.city_select .search .jobType,.company{
	position:relative;
	width:98px;
	float:left;
}
.city_select .search .jobType #span{
	color:#414a40;
	line-height:44px;
	text-align:center;
	float:left;
}
.city_select .search .company #span{
	color:#414a40;
	line-height:44px;
	text-align:center;
	float:left;
}
.city_select .search .jobType img{
	width:10px;
	height:10px;
	float:left;
	margin-top:18px;
}
.city_select .search .company img{
	width:10px;
	height:10px;
	float:left;
	margin-top:18px;
}
.city_select .search .searchIcon{
	width:90px;
	height:100%;
	background: #00d7c6;
	float:right;
	height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: #55cbc4;
    border: 0;
    cursor: pointer;
    font-size: 0;
    width: 90px;
    padding: 0;
    background-position: 34px -138px;
    display: inline-block;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}
/*.city_select .search .searchIcon .searchImg{
	position:relative;
	width:30px;
	height:30px;
}
.city_select .search .searchIcon .searchImg img{
	position:absolute;
}*/
.provinceSelect{
	width:100%;
    background: #fff;
    margin-top: 10px;
    font-size: 12px;
    height:40px;
    border-bottom:1px solid #f2f2f2;
    border-top:1px solid #f2f2f2;	
}
.provinceSelect .provinceHead a{
	float:left;
	padding:0 13px;
	line-height:40px;
}
/*.provinceSelect .provinceHead img{
	width:20px;
	height:20px;
	float:left;
	margin-top:10px;
}*/
.icon-arrow-right{
	width: 16px;
    height: 16px;
    float:left;
    margin-top:12px;
    background-position: 4px -886px;
    display: inline-block;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
/*    margin: 0;*/
    vertical-align: middle;
}
.provinceSelect .cityArr{
	float:left;
	padding:0 13px;
	line-height:40px;
}
.areaArr{
	width:100%;
	height:40px;
	clear:both;	
}
.areaArr .area,a{
	float:left;
	padding:0 13px;
	line-height:40px;
}
.screen{
	width:100%;
	height:40px;
	clear:both;
	background: #fff;
}
/*hover样式改变*/
.cityItem:hover{
	color:#fc6c38;
}
.screen ul li{
	width:140px;
	height:40px;
	line-height:40px;
	float:left;
	font-size:12px;
	position:relative;
}
.screen ul li div{
	font-size:14px;
	float:left;
}
.screen ul li img{
	width:10px;
	height:10px;
/*	float:left;*/
	margin-top:18px;
}
.screen .click{
	font-size:15px;
	line-height:40px;
	float:right;
	color:gray;
}
.jobMain{
	width:1000px;
	margin:0 auto;
	height:auto;
	margin-top:20px;
}
.jobMain .left{
	width:726px;
	float:left;
	background: #fff;
	line-height:30px;
	height:auto;
}
.jobMain .left .jobItem{
/*	width:666px;
	padding:20px 30px;
	height:55px;*/
	height: 50px;
    color: #4a4160;
    padding: 17px 0 27px 0;
    margin: 0 30px;
    border-bottom: 1px solid #f2f2f5;
    position: relative;
}
.jobMain .left .jobItem ul li{
	width:33.3%;
	float:left;
}
.jobMain .left .jobItem ul li .jobName{
	font-size: 16px;
    color: #00c2b3;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height:16px;
}
.jobMain .left .jobItem ul li .salary{
	height: 16px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    vertical-align: middle;
    padding-left: 8px;
    color: #fc703e!important;
    line-height:16px;
}
.jobMain .left .jobItem ul li .demand{
	font-size: 12px;
    color: #9fa3b0;
    width: 100%;
    line-height:16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jobMain .left .jobItem ul li .companyName{
	height: 16px;
    display: inline-block;
    line-height: 16px;
    text-decoration: none;
    color: #414a60;
}
.jobMain .left .jobItem ul li .nature{
	margin-top: 2px;
    font-size: 12px;
    color: #9fa3b0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height:16px;
}
.jobMain .left .jobItem ul li .hrName{
	width:100%;
	font-size: 13px;
    white-space: nowrap;
    line-height:26px;
    /*display: inline-block;*/
    font-weight: 400;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.jobMain .left .jobItem ul li .time{
	text-align: right;
    margin-top: 2px;
    font-size: 12px;
    color: #9fa3b0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jobMain .right{
	width:250px;
	float:right;
}
.jobMain .right .perfect{
	margin-bottom: 15px;
	height:40px;
    padding: 20px;
    background-color: #fff;
}
.jobMain .right .perfect a{
	width:190px;
	display: block;
    height: 40px;
    line-height: 40px;
    border: none;
    font-size: 14px;
    border-radius: 2px;
    letter-spacing: 0;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
    color:#fff;
}
.jobMain .right .seen{
	background: #fff;
    margin-bottom: 15px;
}
.jobMain .right .seen h3{
	height: 45px;
    line-height: 45px;
    font-size: 15px;
    color: #54cbc4;
    padding-left: 25px;
    font-weight: 400;
    border-bottom: solid 2px #f2f2f5;
}
.jobMain .right .seen ul li{
	position:relative;
    border-bottom: solid 1px #eef0f5;
    padding: 8px 10px 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jobMain .right .seen ul li h4{
	font-weight: 400;
	width:200px;
    position: relative;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.jobMain .right .seen ul li .salary{
	position: absolute;
    color: #fc6c38;
    right:10px;
    font-size:14px;
    line-height:36px;
    top:10px;
}
.jobMain .right .seen ul li p{
	line-height: 22px;
    color: #8d92a1;
    font-size: 12px;
    margin-bottom: 6px;
}
.jobMain .right .wuwei{
	position: relative;
    background-color: #fff;
    min-height: 224px;
    padding: 20px;
    margin-bottom: 10px;
}
.jobMain .right .wuwei h4{
	padding: 0;
    margin: 0;
    text-align: left;
    color: #414a60;
    font-size: 14px;
    font-weight: 400;
    float: left;
}
.jobMain .right .wuwei img{
	height: 112px;
    display: block;
    height: 89px;
    margin-top: 44px;
    margin-left:30px;
}
.jobMain .right .wuwei p{
	font-size: 12px;
    color: #9fa3af;
    line-height: 17px;
    padding-top: 23px;
    padding-bottom: 8px;
    text-align:center;
}
.jobMain .right .wuwei button{
	width: 148px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    display: inline-block;
    min-width: 112px;
    box-sizing: content-box;
    line-height: 36px;
    border: 1px #5dd5c8 solid;
    color: #fff;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
    margin-left:30px;
}
.jobMain .right #img{
	width:100%;
	margin-top:10px;
}
/*隐藏部分*/
.screen #ul1 li .hiddenContent{
	display:none;
	position:absolute;
	top:40px;
	left:0;
	z-index:10;
	width:138px;
	height:auto;
	background: #fff;
	border:1px solid #f2f2f2;
}
.screen #ul1 li .hiddenContent #ul2{
	line-height: 42px;
    padding: 0 15px;
    cursor: pointer;
}
.screen #ul1 li .show{
	display:block;
}
/*城市选择下隐藏的内容*/
.cityHide{
	width:300px;
	height:300px;
	position:absolute;
	left:0;
	top:44px;
	background:#f8f9fa;;
	z-index:20;
	color: #9fa3b0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display:none;
}
.cityHide .oneBox{
	width:150px;
	background: #fff;
}
.cityHide .oneBox ul li{
	clear:both;
	width:120px;
	padding-left: 30px;
    line-height: 50px;
    cursor: pointer;
}
.cityHide .oneBox ul li:hover{
	background: #f1f3f6;
}
.cityHide .twoBox{
	position:absolute;
	left:150px;
	top:0;
	width:150px;
	float:right;
}
.cityHide .twoBox ul li{
	clear:both;
	width:120px;
	padding-left: 28px;
    line-height: 50px;
    cursor: pointer;
}
.cityHide .twoBox ul li:hover{
	background: #f1f3f6;
}
/*职位类型下的隐藏布局*/
.typeHide{
	width:300px;
	height:300px;
	position:absolute;
	left:0;
	top:44px;
	background:#fff;
	z-index:20;
	color: #9fa3b0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display:none;
}
.typeHide .type1Box{
	width:150px;
	background: #fff;
}
.typeHide .type1Box ul li{
	clear:both;
	width:120px;
	padding-left: 30px;
    line-height: 50px;
    cursor: pointer;
}
.typeHide .type1Box ul li:hover{
	background: #f1f3f6;
}
.typeHide .type2Box{
	position:absolute;
	left:150px;
	top:0;
	width:148px;
	float:right;
	border-left:2px solid #f2f2f2;
}
.typeHide .type2Box ul li{
	clear:both;
	width:120px;
	padding-left: 28px;
    line-height: 50px;
    cursor: pointer;
}
.typeHide .type2Box ul li:hover{
	background: #f1f3f6;
}
.typeHide .type3Box{
	position:absolute;
	left:150px;
	top:0;
	width:150px;
	height:300px;
	background: #fff;
	z-index:20;
	float:right;
	overflow:auto;
}
.typeHide .type3Box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
     height: auto;
}
.typeHide .type3Box ul{
	width:100%;
	height:auto;
}
.typeHide .type3Box ul li{
	clear:both;
	width:120px;
	padding-left: 28px;
    line-height: 50px;
    cursor: pointer;
}
.typeHide .type3Box ul li:hover{
	background: #f1f3f6;
}
.companyHide{
	position: absolute;
    width: 100%;
    background: #fff;
    top: 55px;
    left: 0;
    z-index: 1;
    color: #9fa3b0;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    font-size: 13px;
    display:none;
}
.companyHide:before {
    content: '';
    position: absolute;
    top: -17px;
    right: 145px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 9999;
}
.companyHide ul{
	padding: 25px 0 15px 55px;
}
.companyHide ul li{
	width: 155px;
	height: 26px;
	line-height:26px;
    display: inline-block;
    margin-bottom: 12px;
}
.companyHide ul li:hover{
	background: #f6f6f8;
}
.companyHide ul li a{
	padding-left: 5px;
	line-height:26px;
    display: block;
    color: #8d92a1;
    -webkit-transition: none;
}
/*分页布局*/
.pages{
	width:100%;
	height:50px;
	background: #fff;
	text-align: center;
}
.pages .pageItem{
	min-width:100px;
	margin-top:10px;
	margin-left:28%;
}
.pages .pageItem a{
	float:left;
    min-width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    vertical-align: middle;
    padding:0;
}
.pages .pageItem .preA{
	position:relative;
	width:20px;
	height:20px;
	border:1px solid #e8e9ed;
	overflow:hidden;
}
.pages .pageItem .preA img{
	position:absolute;
	left:10px;
	top:-832px;
}
.pages .pageItem .preA:hover img{
	top:-857px;
}
.pages .pageItem .backA{
	position:relative;
	width:20px;
	height:20px;
	border:1px solid #e8e9ed;
	overflow:hidden;
}
.pages .pageItem .backA img{
	position:absolute;
	left:10px;
	top:-885px;
}
.pages .pageItem .backA:hover img{
	top:-913px;
}

    

    
    
    
    
   
